name: Pipeline de CI/CD

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install

      - name: Rodar Linter (Verificar qualidade do código)
        run: ESLINT_USE_FLAT_CONFIG=false node node_modules/eslint/bin/eslint.js .

      - name: Rodar os testes
        run: node node_modules/jest/bin/jest.js
      

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    
    # só vai rodar se o evento for um 'push'
    # e se o nome da branch for 'main'
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      contents: read
      packages: write
    
    steps:
      - uses: actions/checkout@v4
      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Gerar tag da imagem em minúsculas
        id: image-tag
        run: echo "TAG=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]'):latest" >> $GITHUB_OUTPUT

      - name: Construir e publicar imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.image-tag.outputs.TAG }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push 
    steps:
      - name: Acionar deploy no Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"